* {
	font-family: 'Helvetica', sans-serif;
}

body {
	background: gray;
}

#head {

	background: blue;
	
	color: white;
	text-align: center;

	border: dashed 5px white;
	padding-top: 10px;
	padding-bottom: 10px;

}

